/* BASIC */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #222;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(12px);
    background: rgba(255,255,255,0.85);
    border-bottom: 1px solid #ddd;
    z-index: 9999;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 45px;
}

.brand-text {
    font-size: 19px;
    margin: 0;
    font-weight: bold;
}

/* MENU (TITIK TIGA) */
.menu-wrapper {
    position: relative;
}

.menu-icon {
    width: 28px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-icon span {
    width: 100%;
    height: 3.5px;
    background: #000;
    border-radius: 6px;
}

/* DROPDOWN */
.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background: white;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
    padding: 10px 0;
    z-index: 9999;
}

.menu-dropdown a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

/* Show dropdown */
.show-menu {
    display: block;
}

/* Submenu Bahasa */
.sub-menu {
    padding: 10px 20px;
    cursor: pointer;
}

.sub-menu-content {
    display: none;
    background: #f5f5f5;
}

.sub-menu:hover .sub-menu-content {
    display: block;
}

/* HERO */
.hero {
    padding-top: 130px;
    text-align: center;
    padding-bottom: 80px;
    background: #fff;
}

.hero h1 {
    font-size: 30px;
    max-width: 750px;
    margin: auto;
}

.hero p {
    font-size: 17px;
    max-width: 650px;
    margin: 15px auto;
}

.btn-explore {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 26px;
    background: #007bff;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}

/* PHOTO SECTION */
.photos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
    background: #f7f7f7;
}

.photo-box {
    width: 200px;
    height: 150px;
    background: #d3d3d3;
    border-radius: 12px;
}

/* INFO SECTION */
.info {
    background: #fff;
    padding: 50px 20px;
    text-align: center;
}

.info-grid {
    max-width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    font-size: 17px;
}

.info-item {
    text-align: left;
    font-weight: 500;
}

/* 5th item full width */
.info-item:nth-child